---
export const prerender = true;
---
<html>
<head>
<meta charset="UTF-8" />
<title>Redirecting to DevOps Category</title>
<meta name="robots" content="noindex, follow" />
<link rel="canonical" href="https://lucaberton.com/blog/categories/devops/" />
<meta http-equiv="refresh" content="0;url=/blog/categories/devops/" />
</head>
<body><p>Redirecting to <a href="/blog/categories/devops/">DevOps</a>...</p></body>
</html>
