{{ if .Site.Params.cookieconsent }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/{{.Site.Params.cookieconsent_version}}/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/{{.Site.Params.cookieconsent_version}}/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      {{ if .Site.Params.cookieconsent_palettepopupbackground }}"background": "{{.Site.Params.cookieconsent_palettepopupbackground}}",{{ end }}
      {{ if .Site.Params.cookieconsent_palettepopuptext }}"text": "{{.Site.Params.cookieconsent_palettepopuptext}}"{{ end }}
    },
    "button": {
      {{ if .Site.Params.cookieconsent_palettebuttonbackground }}"background": "{{.Site.Params.cookieconsent_palettebuttonbackground}}",{{ end }}
      {{ if .Site.Params.cookieconsent_palettebuttontext }}"text": "{{.Site.Params.cookieconsent_palettebuttontext}}"{{ end }}
    }
  },
  "theme": "{{.Site.Params.cookieconsent_theme}}",
  {{ if .Site.Params.cookieconsent_position }}"position": "{{.Site.Params.cookieconsent_position}}",{{ end }}
  "content": {
    "message": "{{.Site.Params.cookieconsent_message}}",
    "dismiss": "{{.Site.Params.cookieconsent_dismiss}}",
    "link": "{{.Site.Params.cookieconsent_link}}",
    {{ if .Site.Params.cookieconsent_href }}
    "href": "{{.Site.Params.cookieconsent_href}}"
    {{ end }}
  }
})});
</script>
{{ end }}
