---
export const prerender = true;
---
<html>
<head>
<meta http-equiv="refresh" content="0; url=/blog/terraform-vs-pulumi-2026/" />
<meta name="robots" content="noindex, follow" />
<link rel="canonical" href="https://lucaberton.com/blog/terraform-vs-pulumi-2026/" />
</head>
<body>
<p>Redirecting to <a href="/blog/terraform-vs-pulumi-2026/">Terraform comparison article</a>...</p>
</body>
</html>
