---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Courses from "@components/courses-full.astro";
import Books from "@components/books.astro";
import Testimonials from "@components/testimonials-courses.astro";
export const prerender = true;
export const lastModified = '2025-03-25';
---

<Layout title="Courses & Books">
  <Container class="relative overflow-hidden w-full max-w-full mx-auto">
    <Sectionhead>
      <Fragment slot="title">Luca’s Courses on Automation & Cloud</Fragment>
      <Fragment slot="desc">Explore expert-led courses and best-selling books in AI, Kubernetes, Ansible, and Cloud Automation.</Fragment>
    </Sectionhead>

    <Courses />
    <div class="bg-gray-100">
    <Testimonials />
    </div>
    <Books />

    <div class="text-center mt-16 py-10 bg-blue-50 rounded-lg">
      <h2 class="text-3xl font-extrabold text-gray-800">Join 20K+ Monthly Learners</h2>
      <p class="text-lg text-slate-600 mt-4">Stay ahead in AI, Cloud, and DevOps with cutting-edge tutorials and real-world applications.</p>
      <a href="https://www.youtube.com/@BertonLuca" class="mt-6 inline-block bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600 font-bold">Subscribe on YouTube</a>
    </div>
  </Container>
</Layout>
