---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Courses from "@components/courses.astro";
import Books from "@components/books.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <Hero />
    <Logos />
    <div class="bg-gray-100 py-16">
    <Features />
    </div>
    <div class="bg-white py-16">
    <Courses />
    </div>
    <div class="bg-gray-100 py-16">
    <Books />
    </div>
    <Cta />
  </Container>
</Layout>
