---
import { Picture } from "astro:assets";
import jpmorgan from "assets/logos/jpmorgan.webp";
import redhat from "assets/logos/redhat.webp";
import coursera from "assets/logos/coursera.webp";
import udemy from "assets/logos/udemy.webp";
import apress from "assets/logos/apress.webp";
import societegenerale from "assets/logos/societegenerale.webp";
import dell from "assets/logos/dell.webp";
import kubernetes from "assets/logos/kubernetes.webp";

const logos = [
  { src: jpmorgan, alt: "JPMorgan Chase & Co." },
  { src: redhat, alt: "Red Hat" },
  { src: dell, alt: "Dell Technologies" },
  { src: societegenerale, alt: "Société Générale" },
  { src: coursera, alt: "Coursera" },
  { src: udemy, alt: "Udemy" },
  { src: apress, alt: "Apress" },
  { src: kubernetes, alt: "Kubernetes" },
];
---

<div class="mt-8 text-center py-4">
  <h2 class="text-slate-500 font-semibold text-xl">Trusted by Leading Organizations</h2>

  <!-- Grid Layout: Two Rows on Mobile, One Row on Desktop -->
  <div class="grid grid-cols-2 gap-6 md:grid-cols-4 lg:flex lg:flex-wrap lg:justify-center items-center px-6 mt-6">
    {logos.map((logo, index) => (
      <Picture
        key={index}
        src={logo.src}
        alt={logo.alt}
        widths={[140, 160, 180]}
        sizes="(max-width: 600px) 45vw, 150px"
        loading="lazy"
        formats={['avif', 'webp']}
        class="h-auto w-24 sm:w-28 md:w-32 lg:w-36 object-contain mx-auto"
      />
    ))}
  </div>

  <!-- Read More Testimonials Button -->
  <div class="mt-6">
    <a href="#testimonials-section" class="inline-block text-blue-600 text-lg font-semibold px-6 py-3 hover:underline transition">
      More Success Stories
    </a>
  </div>
</div>
