---
import { Picture } from "astro:assets";
import jpmorgan from "assets/logos/jpmorgan.svg";
import redhat from "assets/logos/redhat.svg";
import kubernetes from "assets/logos/kubernetes.svg";
import coursera from "assets/logos/coursera.svg";
import udemy from "assets/logos/udemy.svg";
import apress from "assets/logos/apress.svg";
import societegenerale from "assets/logos/societegenerale.svg";
import dell from "assets/logos/dell.svg";
import ansible from "assets/logos/ansible.svg";

const logos = [
  { src: jpmorgan, alt: "JPMorgan Chase & Co." },
  { src: redhat, alt: "Red Hat" },
  { src: coursera, alt: "Coursera" },
  { src: udemy, alt: "Udemy" },
  { src: apress, alt: "Apress" },
  { src: dell, alt: "Dell Technologies" },
  { src: societegenerale, alt: "Société Générale" },
  { src: kubernetes, alt: "Kubernetes" },
  { src: ansible, alt: "Ansible" },
];
---

<div class="mt-8 text-center py-4">
  <h2 class="text-slate-500 font-semibold text-xl">Trusted by Leading Organizations</h2>

  <div class="flex gap-4 md:gap-8 justify-start md:justify-center items-center overflow-x-auto px-6 mt-6 whitespace-nowrap no-scrollbar">
    {logos.map((logo, index) => (
      <Picture
        key={index}
        src={logo.src}
        alt={logo.alt}
        widths={[120, 150, 180]}
        sizes="(max-width: 600px) 90vw, 150px"
        loading="eager"
        format="avif"
        class="h-auto w-32 sm:w-36 md:w-40 object-contain"
      />
    ))}
  </div>
</div>
