---
export const prerender = true;
---
<html>
<head>
<meta charset="UTF-8" />
<title>Redirecting...</title>
<meta name="robots" content="noindex, follow" />
<link rel="canonical" href="https://lucaberton.com/blog/ansible-for-vmware-by-examples/" />
<meta http-equiv="refresh" content="0;url=/blog/ansible-for-vmware-by-examples/" />
</head>
<body><p>Redirecting to <a href="/blog/ansible-for-vmware-by-examples/">new location</a>...</p></body>
</html>
