---
export const prerender = true;
---
<html>
<head>
<meta charset="UTF-8" />
<title>Redirecting...</title>
<meta name="robots" content="noindex, follow" />
<link rel="canonical" href="https://lucaberton.com/" />
<meta http-equiv="refresh" content="0;url=/" />
</head>
<body><p>Redirecting to <a href="/">new location</a>...</p></body>
</html>
